<div class="row" style="height: 100%;">
  <div class="col-10" style="height: 100%;">
    <div id="content_jsoneditor" class="jsoneditor"></div>
  </div>

  <div class="col-2">
    <%= form_with url: cassette_episode_path, method: :put do |f| %>
      <%= text_area_tag :content, @episode_presenter.content, class: "d-none" %>
      <div><%= submit_tag 'Save', data: { disable_with: "Please wait..." }, onclick: "updateFormContent()" %></div>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <script type="application/javascript">
    const contentEditor = new JSONEditor(
      document.getElementById("content_jsoneditor"),
      {mode: 'code', modes: ['code', 'tree']},
      JSON.parse(document.getElementById("content").value));

    function updateFormContent() {
      document.getElementById("content").value = JSON.stringify(contentEditor.get());
    }
  </script>
<% end %>
