<% content_for :head do %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.4.1/jsoneditor.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.4.1/jsoneditor.min.js"></script>

  <style type="text/css">
      html, body {
          height: 100%;
      }
  </style>
<% end %>

<!--<div class="hint">-->
  <%#= @episode_presenter.status %>
  <%#= @episode_presenter.url %>
<!--</div>-->

<div class="row" style="height: 100%;">
  <div class="col-2">
    <div class="nav flex-column nav-pills" id="v-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-home-tab"
         data-toggle="pill" href="#v-response">Response body</a>
      <a class="nav-link" id="v-headers-tab"
         data-toggle="pill" href="#v-headers">Response headers</a>
      <a class="nav-link" id="v-request-tab"
         data-toggle="pill" href="#v-request">Request</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="v-tabContent" style="height: 100%;">
      <div class="tab-pane fade active show" id="v-response" style="height: 100%;"><%= render partial: 'response' %></div>
      <div class="tab-pane fade" id="v-headers" style="height: 100%;"><%= render partial: 'headers' %></div>
      <div class="tab-pane fade" id="v-request" style="height: 100%;"><%= render partial: 'request' %></div>
    </div>
  </div>
</div>
