<% content_for(:title) { "Cassettes | #{@cassette.name}" } %>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-break"><%= @cassette.name %></h1>
    <h2>Episodes <small class="text-muted"><%= @cassette.episodes.count %></small></h2>

    <div class="font-italic text-right text-secondary">Tips: hover over the column header to filter.</div>
    <div id="requests-table" class="ag-theme-alpine" style="height: 400px; width:auto;"/>

    <script type="text/javascript" charset="utf-8">
      // specify the columns
      const columnDefs = [
        {
          field: "host", width: 370, sortable: true, filter: true, resizable: true
        },
        {
          field: "url", headerName: 'Path and query',
          minWidth: 600, flex: 1, sortable: true, filter: true, resizable: true, wrapText: true, autoHeight: true,
          cellRenderer: function (params) {
            const episode = params.data;
            return `<div style='line-height: 1.7rem; margin-top: 0.5rem; margin-bottom: 0.5rem;'>
                    <div class=''>${episode.path}</div>
                    <div class='text-secondary'>${episode.query ? '?' + episode.query : ''}</div>
                    </div>`
          }
        },
        {
          field: "actions", headerName: '', width: 70,
          cellRenderer: function (params) {
            const episode = params.data;
            return `<a href=${episode.edit_path} target="_blank">edit</a>`
          }
        }
      ];

      // specify the data
      const rowData = <%= @row_data.to_json.html_safe %>;

      // let the grid know which columns and what data to use
      const gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        enableCellTextSelection: true,
        ensureDomOrder: true
      };

      // lookup the container we want the Grid to use
      const eGridDiv = document.querySelector('#requests-table');

      // create the grid passing in the div to use together with the columns & data we want to use
      new agGrid.Grid(eGridDiv, gridOptions);

    </script>
  </div>
</div>
